
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');


.fixed-header{
  background-color: #fbc900;
  display: flex;
  justify-content: space-between;
  height: 15vh;
  align-items: center;
}

.name{
  color: #fff;
  font-family: 'Montserrat', 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8rem;
}

.client-name{
  font-size: 1.5rem;
  font-weight: 400;
  margin-right:  4rem;
}

.client-last{
  font-size: 1.5rem;
  font-weight: 550;
}
.line{
  height: .25rem;
  width: 2.5rem;
  background: #fff;
  margin-bottom: .5rem;
  border-radius: 5px;
}
img{
  margin-left: 4rem;
}

.ham{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 3rem;
  width: 3rem;
  cursor: pointer;
}
