
<div class="fixed-header">
  <img height="100" width="100" src="../assets/Risen-One.png" >
  <div class="name">
    <span class="client-last">Welcome</span><span class="client-name">, Rebekah</span>
    <div class='ham'>
      <div class='line'></div>
      <div class='line'></div>
      <div class='line'></div>
    </div>
  </div>
</div>






  <!-- <mat-toolbar class="header">
    <img height="100" width="100" src="../assets/Risen-One.png" >
    <div>
      <span class="client-name">Welcome, Rebecca</span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
     <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
</div>

 -->
