@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.main-container{
  background-image: linear-gradient(180deg,#FBC900,#ED8500);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 100%;
}
.item-container{
  height: 110vh;
  width: 85%;
  background-color: #fff;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50px;
}

.project-header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
}

.acronym{
  font-weight: 700;
}

.header-text{
  font-size: 2.5rem;
  font-family:'Montserrat', 'sans-serif';

}
