@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

*{
    color: #E0AA51;
    font-family: "Montserrat";
}

.border{
    padding: 10px;
}

.title{
    width: 90%;
    margin: 0 auto;
    color: #E0AA51;
    font-weight: 700;
    font-size: 20px;
}

.title-left{
    display: inline-block;
    width: 95%;
}

.title-right{
    text-align: right;
    display: inline-block;
    width: 5%;
}

hr{
    margin-bottom: 20px;
    margin-top: -5px;
    position: relative;
    border: 1px solid #E0AA51;
}

.info{
    width: 90%;
    margin:0 auto;
    color: #E0AA51;
}

.info img{
    width:20%;
    height:75px;
    padding: 1%;
}

.info p{
    display: inline-block;
    margin-right: 15px;
    font-weight: 600;
    color:black;
}

button{
    width:100%;
    height: 30px;
    color: #E0AA51;
}

.but{
    width: 100%;
    height: 70px;
    border: 2px solid #E0AA51;
    border-radius: 10px;
}

.but p{
    width: 100%;
    color:#E0AA51;
    text-align: center;
}